%ol
  - if current_user.kind_of?(MerchantUser)
    %li.not_implemented= link_to t('.my_merchant_profile'), '#'
  - else
    %li.not_implemented= link_to t('.find_merchants'), '#'
    %li= link_to t('.my_profile'), edit_user_profile_path
    
  %li= link_to t('.my_account'), edit_user_registration_path