- title 'Welcome to Kweenan'

%p Hi guys,
%p
  As you can see I've put together a framework application for use to work with before the site design is complete. Obviously you don't have to use any of this design - it's more just so we're looking at something clean enough to get the functionality right.