- title t('.title')

%p Hi guys,
%p
  As you can see I've put together a framework application for us to work with before the site design is complete. Obviously you don't have to use any of this design - it's more just so we're looking at something clean enough to get the functionality right.

%p
  Currently all the functionality on the Pivotal tickets which I have marked as complete should be working. Please have a play and let me know if anything doesn't seem right or if I have missed anything which I have marked as complete.

%p
  I have put in the French translations for the login bits as best I can, but I'm sure there are plenty of errors! Don't worry too much about those at the moment because when we start to add more content I will give you a file which contains all the text on the site. You will then be able to edit this file and return it to me so I can make all the necessary changes.