#photos {
  float: right;
  width: 200px;
  height: 200px;
  border: 1px solid #D8DEE2;
  background: url(../images/photo_camera.png) no-repeat center center;
}

#merchant_top_inputs {
  width: 400px;
}

ol.merchants {
  list-style-position: inside;
  
  li {
    width: 400px;
    margin: 0 0 20px 0;
    
    .distance {
      display: inline-block;
      min-width: 60px;
      font-style: italic;
    }
    
    .address {
      display: inline;
    }
  }
}

#content form ul.token-input-list-facebook {
  border: 1px solid #D8DEE2;
  padding: 5px;
  width: 440px;

  li.token-input-token-facebook {
    margin: 0 6px 6px 0;
  }
  
  input[type="text"] {
    padding: 0;
    border: 0;
    margin: 0;
  }
}