#photo_container {
  float: right;
  width: 180px;
}

#photos {
  width: 180px;
  height: 180px;
  border: 1px solid #D8DEE2;
  
  .photo, img {
    float: left;
    width: 90px;
    height: 90px;
    
    a.delete_photo {
      margin: 70px 0 0 70px;
    }
  }
  
  &.photos0 {
    background: url(../images/photo_camera.png) no-repeat center center;
  }
  
  &.photos1 {
    .photo, img {
      width: 180px;
      height: 180px;
      
      a.delete_photo {
        margin: 160px 0 0 160px;
      }
    }
  }
  
  &.photos2 {
    height: 90px;
  }
  
  &.photos5, &.photos6 {
    height: 120px;
    .photo, img {
      width: 60px;
      height: 60px;
      
      a.delete_photo {
        margin: 40px 0 0 40px;
      }
    }
  }
  
  .photo {
    position: relative;
    
    a.delete_photo {
      position: absolute;
      opacity: 0;
      display: block;
      text-indent: -9999px;
      background: #fff url(../assets/delete.png) no-repeat center center;
      width: 20px;
      height: 20px;
    }
  }
}

.qq-upload-button {
  clear: right;
  float: right;
  background: none;
  color: $purple;
  border: 0;
  font-size: 14px;
  width: 200px;
  text-align: right;
}

.qq-upload-list, #photo_delete_spinner {
  float: right;
  margin: 10px 0;
  list-style: none;
  line-height:15px;
  font-size:12px;
  
  li {
    text-align: right;
  }
}

.qq-upload-drop-area {
  height: 50px;
  min-height: 50px;
  
  span {
    margin: 6px 0 0 0;
    position: inline;
    top: 0;
  }
}

#photo_delete_spinner {
  display: none;
}

#merchant_top_inputs {
  width: 400px;
}

table.show_business_hours {
  th {
    text-align: left;
    padding-right: 20px;
  }
  
  margin-bottom: 20px;
}

#content form table.business_hours {
  border-spacing: 0px;
  
  th {
    font-size: 12px;
    border-bottom: 1px dashed #ccc;
    padding: 4px;
    text-align: left;
  }

  td {
    vertical-align: top;
    line-height: 34px;
    padding: 4px;
    border-bottom: 1px dashed #ccc;
    
    &.day {
      width: 100px;
    }
    
    &.hours {
      width: 160px;
      
      input[type='text'] {
        width: 50px;
      }
    }
    
    &.closed {
      vertical-align: middle;
    }
  }

  ol {
    display: block;
  }
  
  li {
    font-size: 14px;
    margin-bottom: 0;
    display: inline;
    
    
  
    .inline-errors {
      display: none;
    }
  }
}

#merchant_business_category_id {
  width: 310px;
}

ol.merchants {
  list-style-position: inside;
  
  li {
    width: 400px;
    margin: 0 0 20px 0;
    
    .distance {
      display: inline-block;
      min-width: 60px;
      font-style: italic;
    }
    
    .address {
      display: inline;
    }
  }
}

#content form ul.token-input-list-facebook {
  border: 1px solid #D8DEE2;
  padding: 5px;
  width: 440px;

  li.token-input-token-facebook {
    margin: 0 6px 6px 0;
  }
  
  input[type="text"] {
    padding: 0;
    border: 0;
    margin: 0;
  }
}